#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

/* The loading Screen code is from https://css-loaders.com/*/
.loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #d18034;
    box-shadow: 
        calc(1*var(--d))      calc(0*var(--d))     0 0,
        calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d))      calc(1*var(--d))     0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d))     calc(0*var(--d))     0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% { transform: rotate(1turn); }
}
body {
    background-color: #fae8d7 
}
.head_slide{
    position: fixed;
    display: flex;
    background-color: #e9e3e3 ;
    top:0;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 10px 15%;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}
#logo {
    font-family: "Brush Script MT", "Helvetica";
    color: #3e1f0d;
    font-size: 35px;
}
#contact{
    font-family: Arial;
    color: #3e1f0d;
    font-size: larger;
    font-weight: bolder;
    padding: 15px;
    cursor: pointer;
}

#contact:hover {
    background-color: #9b6e54;
    color: white;
}

#contact #contact_info {
    display:none;
    position: fixed;
    transform: translateY(20px) translateX(-10px);
    font-weight: 600;
    font-size: large;
    line-height: 30px;
    color: #38627a;
    border: 1px solid #ccc;
    border-radius: 2%;
    background-color: wheat;
    z-index: 3;
    padding: 2px;
}
.header {
    width: 80%;
    position: relative;
    top: 7vh;
    height: 250px;
    background-image: url("asset/img/DSCF0182.JPG");
    background-size: cover;
    background-position: center;
    left: 10%
}
.header #intro{
    font-family: Arial;
    width : 70%;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    text-shadow: 0 10px 8px rgb(0, 0, 0);
}

.content{
    position: relative;
    width: 80%;
    top: 7vh;
    margin-top: 10px;
    left: 10%;
}
